.contact {
	margin: 2vh;
	background: linear-gradient(120deg, $blue 0%, $dark-grey 100%);
	transition: background-color 1.2s;
	overflow: hidden;
	position: relative;
	min-height: calc(100vh - 4vh);

	@media #{$screen-sm} {
		background: linear-gradient(120deg, $light-grey 0%, $purple-strong 100%);
	}

	@media #{$screen-lg} {
		background: linear-gradient(120deg, $dark-grey-violet 0%, $turquois-strong 100%);
	}

	&__title {
    position: absolute;
    line-height: 0.8;
    font-size: 14vw;
    top: -2vw;
    right: -2vw;
    color: transparentize($white, 0.8);

		@media #{$screen-xs}{
			font-size: 16vw;
		}

		@media #{$screen-sm}{
			font-size: 20vw;
		}
  }

	&__main {
		display: grid;
		grid-template-areas:
			"header header"
			"intro intro"
			"list list";
		grid-template-columns: 5fr 3fr;
		grid-column-gap: 6vh;
		min-height: calc(100vh - 10vh);
		padding: 3vh;

		@media #{$screen-lg} {
			grid-template-areas:
				"header header"
				"intro list"
		}
	}

	&__subtitle {
		grid-area: header;
		justify-self: end;
		color: transparentize($white, 0.2);
		text-transform: uppercase;
		font-size: 3vw;
	}

	&__intro {
		grid-area: intro;
		align-self: end;
		font-size: $font-size-lg;
		font-weight: 700;
		font-family: $secondary-font;

		@media #{$screen-lg} {
			font-size: $font-size-xl;
		}
	}

  &__list {
		grid-area: list;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
		margin: 0;

		@media #{$screen-lg} {
			justify-self: end;
			align-self: end;
			transform: rotate(35deg);
			margin-right: -6vh;
		}
  }

  &__item {
    list-style: none;
    display: block;
    text-align: center;
    position: relative;
  }

  &__link:hover {
    .contact__username {
      background-color: $dark-grey;
      color: transparentize($white, 1);
			transform: rotate(7deg);
    }
    .contact__type {
			color: $yellow-strong;
      z-index: 5;
			transform: rotate(-7deg);

			@media #{$screen-sm} {
				color: $pink-strong;
			}

			@media #{$screen-lg} {
				color: $purple-strong;
			}

    }
  }

  &__username {
		position: absolute;
		padding: 0.4em 0;
    top: 50%;
    left: 0;
		width: 100%;
    transform: translateY(-50%);
    z-index: 2;
    letter-spacing: $letter-spacing-lg;
    color: $white;
    background-color: transparentize($dark-grey, 0.4);
    transition: $hover-transition;
		transform: rotate(0deg);
  }

  &__type {
		color: transparentize($white, 0.3);
    position: relative;
    font-family: $secondary-font;
    font-size: $font-size-xxxl;
    display: block;
    text-transform: uppercase;
    transition: $hover-transition;
		transform: rotate(0deg);
  }
}
